html {
  letter-spacing: -0.03em;
}

article {
  line-height: 1.8;

  & > img {
    width: 100%;
  }

  & > blockquote {
    font-size: 1.35rem;
    font-weight: 500;
    letter-spacing: 0.02em;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding-left: 1rem;
    margin-block: 4rem;
    font-style: italic;
    border-left: 4px solid #e3e3e3;
  }

  & > p:has(span.rnr-yellow_background) {
    line-height: 1.4;
  }
}

.rnr-yellow_background {
  background-color: #fff3bf;
}

.rnr-callout {
  border: 1px solid black;
}

// Masonry

.my-masonry-grid {
  display: -webkit-box; /* Not needed if autoprefixing */
  display: -ms-flexbox; /* Not needed if autoprefixing */
  display: flex;
  margin-left: -60px; /* gutter size offset */
  width: auto;
}
.my-masonry-grid_column {
  padding-left: 60px; /* gutter size */
  background-clip: padding-box;
}

/* Style your items */
.my-masonry-grid_column {
  & > div {
    /* change div to reference your elements you put in <Masonry> */
    background: grey;
    margin-bottom: 60px;
  }

  & > span {
    /* change div to reference your elements you put in <Masonry> */
    margin-bottom: 60px !important;
    transition: all 2s cubic-bezier(0.075, 0.82, 0.165, 1);
    filter: grayscale(1);

    &:hover {
      transform: scale(1.2);
      filter: grayscale(0);
    }

    & img {
      transition: all 2s cubic-bezier(0.075, 0.82, 0.165, 1);
    }
  }
}
